# get key and host from https://rapidapi.com/wirefreethought/api/geodb-cities/
VITE_RAPID_API_KEY=RAPID_API_GEODB_CITIES_MAGIC_KEY
VITE_RAPID_API_HOST=RAPID_API_GEODB_CITIES_HOST
# get key from https://weatherstack.com/
VITE_WEATHERSTACK_KEY=WEATHERSTACK_KEY
